$primary: #00a8ff;
$secondary: #353b48;
$info: #4b7bec;
$warning: #fbc531;
$danger: #ff5252;
$success: #2ecc71;
$dark: #1e272e;
$light: #f5f6fa;
$white: #fdfefe;

$font-primary: 'Share Tech';
$font-secondary: 'Press Start 2P';
