header{
    @extend .shadow;
    @extend .p-2;
    @extend .fixed-top;
    z-index: 1;
    background: $white;
    img{
        height: 60px;
    }
    .header--title{
        font-family: $font-secondary;
        color: $primary;
        font-size: 20px;
    }
}