.header{
    @extend .shadow;
    @extend .p-2;
    @extend .fixed-top;
    z-index: 1;
    background: $white;
    &__logo{
        height: 60px;
    }
    &__title{
        @extend .text-center;
        font-family: $font-secondary;
        color: $primary;
        font-size: 20px;
    }
}